<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportTool.Properties.Settings.mSCOA_VaultConnectionString"
            connectionString="Data Source=rlsreports.dedicated.co.za;Initial Catalog=mSCOA_Vault;Persist Security Info=True;User ID=RLSUser;Password=Qwer1234@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="C1Template" value="C Schedule.xls" />
    <add key="A1Template" value="Template_A1 Schedule - mSCOA vs 6.1 - 07082017.xlsm" />
    <add key="B1Template" value="B Schedule - mSCOA Ver 6.1 - new DM codes_MSCOA.xls" />
  </appSettings >
</configuration>