--- Import Transactions from Load -----
SELECT [RYEAR] as [FINYEAR]
      ,[POPER] as [FINMONTH]
      ,[RACCT] as [Old Account]
      ,[RCNTR] as [MSC_Code]
      ,[RZZMEASURE] as [mSCOA_SCode_Project]
      ,[RZZMEASURE_GUID] as [mSCOA_Project_Guid]
	  ,[RFAREA] as [mSCOA_SCode_Function]
      ,[RFAREA_GUID] as [mSCOA_Function_Guid]
      ,[RZZGEBER] as  [mSCOA_SCode_Fund]
      ,[RZZGEBER_GUID] as [mSCOA_Fund_Guid]
      ,[ZSCOA_ITEM] as [mSCOA_SCode_Item]
      ,[ZSCOA_ITEM_GUID] as [mSCOA_Item_Guid]
      ,[RZZREGION] as [mSCOA_SCode_Region]
      ,[RZZREGION_GUID] as [mSCOA_Region_Guid]
      ,[RZZCOSTING] as [mSCOA_SCode_Costing]
      ,[RZZCOSTING_GUID] as [mSCOA_Costing_Guid]
      ,[REFDOCNR]+ Left([AWORG],2) as RECONKEY
	  ,Sum([TSL]) as AMOUNT
	  INTO [mSCOA_Vault].[dbo].[Stageing_SPL]
  FROM [mSCOA_Vault].[dbo].[Load_SPL_2019_01]

  group By [RYEAR] 
      ,[POPER] 
      ,[RACCT] 
      ,[RCNTR] 
      ,[RZZMEASURE] 
      ,[RZZMEASURE_GUID] 
      ,[RZZGEBER] 
      ,[RZZGEBER_GUID]
      ,[ZSCOA_ITEM] 
      ,[ZSCOA_ITEM_GUID] 
      ,[RZZREGION] 
      ,[RZZREGION_GUID] 
      ,[RZZCOSTING]
      ,[RZZCOSTING_GUID]       
	  ,[REFDOCNR]
	  ,[AWORG]
	  ,[RFAREA]
      ,[RFAREA_GUID]